.first{
	margin-top: 49px;
}

.fLoginButton{
	border: solid #878787 1px;
	margin-left: 30%;
	margin-bottom: 0.7%;
	height: 45px;
	width: 44%;
	border-radius: 30px;
	font-weight: 700;
	display: inline-block;
}

.icono{
	float: left;
	background: center center no-repeat;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 10%;
	margin-top: 3.5%;
}

.text{
	float: left;
	position: relative;
	margin-left: 10%;
	margin-top: 3.7%;
	color: #e8e8e8;
}
