.leftHeader{
    position: fixed;
    float: right;
    opacity: 1;
    z-index: 1;
    width: 74%;
    margin: 0.5% 24%;
    padding: 10px;
    font-weight: 750;

    border-radius: 9px;
    background-color: rgba(128, 128, 128, 0.185);
}
