.list-item {
    background-color: #181818;
    color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #2e2e2e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: background-color 0.2s, transform 0.2s;
}

.list-item-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 7px 7px 0 0;
}

.list-item:hover {
    background-color: #282727;
}

.list-item-info {
    padding: 16px;
    overflow: hidden;
}

.list-item-title,
.list-item-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item-title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 4px;
}

.list-item-description {
    font-size: 0.875rem;
    font-weight: 400;
    color: #b3b3b3;
}

.list-item-play-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 70px;
    right: 10px;
    background: url('/public/img/playIcon.png') center/cover no-repeat;
    transition: opacity 0.3s, bottom 0.3s;
    opacity: 0;
}

.list-item-play-icon:hover {
    transform: scale(1.02);
}

.list-item:hover .list-item-play-icon {
    opacity: 1;
    bottom: 80px;
}