 .sidebar{
  width: 22%;
  background-color: black;
  position: fixed;
  padding: 1% 1%;
  /* display: flex; */
  /* flex-direction: column; */
 }

.sidebarArriba{
  background-color: rgba(128, 128, 128, 0.185);
  margin: -10px -10px;
  position: relative;
  color: #fff;
  padding: 20px;
  border-radius: 10px;

 }
 .sidebarAbajo{
  background-color: rgba(128, 128, 128, 0.185);
  margin: 20px -10px;
  position: relative;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
 }

.btn-sidebar-div {
  display: flex;
  justify-content: space-around;
}

.playlist-categoty{
  text-decoration: none;
  color: white;
  display: flex;
  padding: 5px;
  /* margin: 0 10px; */
  border-color: #fff;
  border-radius: 15px;
  background-color: #63636350;
  width: fit-content;
  font-size: 14px;
}

.category-text{
  margin: auto 10px;
  font-weight: 400;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
  font-weight: 700;
  font-size: 17px;
}

.icon {
  width: 40px; 
  margin-right: 10px;
}

.logo-inicio{
  margin: -15px;
  margin-left: -24px;
}


.playlist-feed{
  margin-top: 20px;
}

  